.container {
  padding: 120px 15vw 80px 15vw;
  display: flex;
  flex-direction: column;
  row-gap: 0 !important;
  img {
    margin-bottom: 50px;
    height: 200px;
    align-self: center;
  }
  h2 {
    margin-bottom: 16px;
  }
  p {
    margin: 0 0 40px 0;
  }
  .roles {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .member {
      p {
        margin: 0 0 4px 0;
        &.name {
          font-weight: 600;
        }
      }
      ul {
        margin-left: 22px;
        li {
          &::before {
            content: "\2022";
            font-weight: 700;
            display: inline-block;
            width: 1em;
            margin-left: -1.4em;
            color: #ff6347;
          }
        }
      }
    }
  }
}
